<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>minutnik.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>347D4B591BB9C3520080DCE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>347D4B721BB9C3520080DCE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>347D4B7D1BB9C3530080DCE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
